
@import "compass/CSS3";


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html {
	font-size: 16px;
	font-size: 1.5vmax;
}

.ui.container#main {
	position:relative;
	top: 8rem;
}

.ui.segment {
	line-height: 160%;
	p {
		margin-top: 16px;
	}
}
.ui.menu {
	.item.completed {
		background-color: #dfd;
		color: #060;
	}
}

.circular.law.icon::before {
	position: relative;
	left: -3px;
}

@media screen and (min-width: 780px) {
	.thin-only {
		display: none !important;
	}
}

@media screen and (max-width: 780px)  {
	table#polis-view {
		td {
			min-width: 16px;
			span {
				width: 0px !important;
			}
			i {
				left: 0px !important;
			}
		}
	}
	.fat-only {
		display: none !important;
	}
	#small {
		
	}
}