@import "compass/reset";
@import "compass/CSS3";

$db: darken(blue,10%);
$navH: 52px;

nav.ui.menu {
  /* padding-left: 240px; */
  height: $navH;
  position: relative;
  z-index: 99999;
}

.ui.sidebar {
  top: $navH;
  li {
    margin-top: 6px !important;
    .active {
      text-decoration: underline;
    }
    .goban-folder {
      background-color: #fcfcfc;
      border-left: 5px solid #ccc;
      padding-left: 3px;
    }
    .block {
      margin-left: 0px;
      display: block;
   //   width: 80%;
    }      
    img.favicon {
      position: absolute;
      right: 5px;
      //float: right;
      @include filter(grayscale(100%));
      @include border-radius(3px);
      opacity: 0.5;
    } 
  }
  &.hidden {
    left: -250px;
  }
  @include transition(all 0.5s ease);
}

.main {
  position: relative;
  top: $navH;
  @include transition(all 0.8s ease);
}

@media screen and (max-width: 600px) {
  .fat-only {
    display: none !important;
  }
}