section(ng-cloak='')
  h1.ui.header.center.aligned
    | {{(faqs | orderBy:myOrd)[$route.current.params.id].q}}
  //img.ui.small.bordered.image(ng-show="(faqs | orderBy:myOrd)[$route.current.params.id].i" ng-src="{{(faqs | orderBy:myOrd)[$route.current.params.id].i}}", style="display:block; margin-left:auto; margin-right:auto")
  //i.huge.orange.users.icon(ng-hide="(faqs | orderBy:myOrd)[$route.current.params.id].i", style="display:block; margin-left:auto; margin-right:auto")
  i.huge.orange.users.icon(style="display:block; margin-left:auto; margin-right:auto")
  .ui.divider
  .ui.grid
    .row
      .column
        p.description(ng-repeat = "line in (faqs | orderBy:myOrd)[$route.current.params.id].as" ng-bind-html = "highlightAndMakeBr(line, key)")
    
    .row
      .eighteen.wide.right.aligned.column(ng-show="(faqs | orderBy:myOrd)[$route.current.params.id].es[0]")
        .ui.divider
        span(ng-repeat = "e in (faqs | orderBy:myOrd)[$route.current.params.id].es")
          .ui.divider(ng-show="$index")
          | 參考:&nbsp;&nbsp;
          a(ng-href = "{{e.h}}" target="_blank")
            i.globe.icon
            | {{e.t}}

  span(ng-init="feedback=false")
    .ui.divider
    h3.ui.center.aligned.header(ng-hide="feedback")
      | 這對您有幫助嗎？
      .ui.buttons
        button.ui.green.button(ng-click="feedback=true; feed(true, (faqs | orderBy:myOrd)[$route.current.params.id].q)") 有
        .or
        button.ui.red.button(ng-click="feedback=true; feed(false, (faqs | orderBy:myOrd)[$route.current.params.id].q)") 沒有 
    h3.ui.center.aligned.header(ng-show="feedback")
      | 感謝您的意見回報！
    .ui.divider
    a(ng-click="step=0;myC=0", href="#/")
      i.angle.left.icon
      | 回主頁
      i.big.home.icon