section(ng-cloak='')
  h1.ui.center.aligned.header 選擇一項
  
  h4.ui.center.aligned.header 分類：
      a.ui.circular.label(ng-repeat="c in catagories",
        ng-style="{'background-color': c.color}",
        ng-click="$parent.myC = c.t") {{c.t}}

      a.ui.circular.grey.basic.label(ng-click="myC = undefined") 全部

  .ui.divider
  br   
  #main.ui.four.column.doubling.stackable.relaxed.grid.container
    .column(ng-repeat="f in faqs | orderBy:myOrd", ng-show="(!myC || f.c == myC) && (!key || f.q.indexOf(key)>-1)")
      .inner.bordered.bottom.right.left

        h4.ui.center.aligned.icon.header
          a(ng-click="$parent.myF=f", 
          href="#ans", ng-href="#ans/{{$index}}")
            i.circular.icon(ng-class="cataIcon(f.c)")
              //(ng-class="{orange: false && $index % 2 == 0, user:$index % 2 == 0, help:$index % 2 == 1}")
            .description(ng-bind-html = "highlightAndMakeBr(f.q,key)" ng-class="{orange:$index % 2 == 0}")
            br

      a.ui.top.left.attached.ribbon.label(
        ng-style = "{'background-color': cataColor(f.c)}",
        ng-click="$parent.myC=(!myC && f.c)||0")
        | {{f.c}}

    .column(ng-show = "!myC")
      .inner.bordered.bottom.right.left
        h4.ui.center.aligned.icon.header
          a(href="http://map.alearn.org.tw/contact.html", target="_blank")
            i.circular.phone.icon.orange
            .description.orange
              | 有其他問題嗎？請聯絡諮詢專線
            br
      .ui.top.left.attached.ribbon.label
        | 其他