
<section ng-cloak="">
  <h1 class="ui center aligned header">選擇一項</h1>
  <h4 class="ui center aligned header">分類：<a ng-repeat="c in catagories" ng-style="{'background-color': c.color}" ng-click="$parent.myC = c.t" class="ui circular label">{{c.t}}</a><a ng-click="myC = undefined" class="ui circular label">全部</a></h4>
  <div class="ui divider"></div><br/>
  <div id="main" class="ui four column doubling stackable relaxed grid container">
    <div ng-repeat="f in faqs | orderBy:myOrd" ng-show="(!myC || f.c == myC) &amp;&amp; (!key || f.q.indexOf(key)&gt;-1)" class="column">
      <div class="inner bordered bottom right left">
        <h4 class="ui center aligned icon header"><a ng-click="$parent.myF=f" href="#ans" ng-href="#ans/{{$index}}"><i ng-class="{orange: false &amp;&amp; $index % 2 == 0, user:$index % 2 == 0, help:$index % 2 == 1}" class="circular icon"></i>
            <div ng-bind-html="highlightAndMakeBr(f.q,key)" ng-class="{orange:$index % 2 == 0}" class="description"></div><br/></a></h4>
      </div><a ng-style="{'background-color': cataColor(f.c)}" ng-click="$parent.myC=(!myC &amp;&amp; f.c)||0" class="ui top left attached ribbon label">{{f.c}}</a>
    </div>
    <div ng-show="!myC" class="column">
      <div class="inner bordered bottom right left">
        <h4 class="ui center aligned icon header"><a href="http://map.alearn.org.tw/contact.html" target="_blank"><i class="circular phone icon orange"></i>
            <div class="description orange">有其他問題嗎？請聯絡諮詢專線</div><br/></a></h4>
      </div>
      <div class="ui top left attached ribbon label">其他</div>
    </div>
  </div>
</section>