// Components    
script(src = "./bower_components/jquery/dist/jquery.min.js")
script(src = "./bower_components/semantic/dist/semantic.min.js")
script(src = "./bower_components/angular/angular.min.js")
script(src = "./bower_components/angular-route/angular-route.min.js")
script(src = "./bower_components/angular-animate/angular-animate.min.js")
script(src = "./bower_components/fastclick.js")

| <!--[if lt IE 10]><script src="./bower_components/xhr-xdr-adapter/src/xhr-xdr-adapter.js" type="text/javascript"></script><![endif]-->

script(src = "./global.js")