doctype html
html(ng-app="contactApp")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(property="og:title" content="自學諮詢專線")
    meta(property="og:site_name" content="自主學習促進會")
    meta(property="og:url" content="http://map.alearn.org.tw/contact")
    meta(property="og:image" content="http://map.alearn.org.tw/images/lead.jpg")
    meta(property="og:description" content="從零開始，怎麼申請自學呢？自學諮詢專線")

    title 諮詢專線-自主學習促進會
    link(rel="shortcut icon" href="/favicon.png")
    link(rel="stylesheet", href="./bower_components/semantic/dist/semantic.min.css")
    link(rel="stylesheet", href="./stylesheets/contact.css")
    | <!--[if IE]><link href='./stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css'><![endif]-->

  body(ng-controller="myCtrl")
    .ui.steps.fat-only.no-print
      a.step(ng-class = "{active: checkRoute('start')}", href="#start")
          i.circular.users.icon
          .content
            .title 自學申請
            .description 從零開始，怎麼申請自學呢？
        
      
      a.step(ng-class = "{active: checkRoute('plan')}", href="#plan")
          i.circular.calendar.icon
          .content 
            .title 自學計畫
            .description 如何做自學計畫、寫計畫書？
        
      
      a.step(ng-class = "{active: checkRoute('consult')}", href="#consult")
          i.circular.law.icon.fade
          .content 
            .title 學習診斷
            .description 如何克服學習上遇到的困難？
        

    .main
      di.slide(ng-view)

      footer.ui.large.breadcrumb.thin-only(ng-cloak='')
        a.section(ng-class="{active:checkRoute('start')}", href="#start")
          | 自學申請
        i.right.chevron.icon.divider
        a.section(ng-class="{active:checkRoute('plan')}", href="#plan"
          學習診斷)
          | 自學計畫
        i.right.chevron.icon.divider
        a.section(ng-class="{active:checkRoute('consult')}", href="#consult")
          | 學習診斷


    include ./_components.jade

    script(src ="./js/contact.js")

    include ./_ga.jade