<!DOCTYPE html>
<html ng-app="my_polis">
  <head>
    <meta charset="utf-8">
    <title>統計結果（樣稿）</title>
    <link rel="stylesheet" href="/stylesheets/polis.css">
  </head>
  <body ng-controller="myCtrl">
    <nav id="ctrl-bar"><a ng-click="p=0" ng-class="{active:p==0}" class="ctrl">贊成排行</a><a ng-click="p=1" ng-class="{active:p==1}" class="ctrl">反對排行</a><a ng-click="p=2" ng-class="{active:p==2}" class="ctrl">爭議排行</a><a ng-href="https://github.com/3dw/automap/tree/gh-pages/polis/{{dataURL}}" class="ctrl">原始資料</a></nav>
    <h1>統計結果（樣稿）</h1>
    <table id="polis-view" cellspacing="0" cellpadding="0">
      <tr>
        <th ng-repeat="t in titlesP" ng-class="{red : t=='反對人數', orange : t=='贊成率'}" class="polis-th"><a ng-bind="t" ng-click="$parent.p = ($index+2) % 3"></a></th>
      </tr>
      <tr ng-repeat="d in data | orderBy : ord" class="polis-row">
        <td ng-repeat="t in titles" ng-class="{green: t=='agrees', red : t=='disagrees', orange : t=='agree-ratio'}" class="polis-col"><span ng-hide="t=='comment-body' || t=='agree-ratio' " ng-style="{height: d[t]+'px'}" class="vertial-bar"></span><i ng-class="{bar:t =='agrees' || t=='disagrees'}" ng-bind="t=='comment-body' ? '「'+d[t]+'」' : d[t]"></i></td>
      </tr>
    </table>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="polis-parser.js"></script>
  </body>
</html>