<!DOCTYPE html>
<html ng-app="my_polis">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>統計結果-polis-2016</title>
    <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../stylesheets/polis.css">
    <meta property="og:title" content="2016非學校意見調查統計結果">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://map.alearn.org.tw/polis/">
    <meta property="og:image" content="http://map.alearn.org.tw/polis/hearing.png">
    <meta property="og:site_name" content="automap">
    <meta property="og:description" content="2016非學校意見調查統計結果出爐了，聽聽大家怎麼說？">
  </head>
  <body ng-controller="myCtrl">
    <nav ng-init="p=0" class="ui menu"><span ng-hide="1" class="item">Loading...</span>
      <div class="styled-select thin-only">
        <select ng-options="o.id as o.label for o in options track by o.id" ng-model="p">
          <option value="">-選擇排序-</option>
        </select>
      </div><span ng-cloak class="item fat-only"><a ng-cloak ng-click="p=0" ng-class="{active:p==0}" class="ctrl"><i class="idea icon"></i>贊成</a>
        <div class="ui popup header">贊成率高者優先</div><a ng-click="p=1" ng-class="{active:p==1}" class="ctrl"><i class="fire extinguisher icon"></i>反對          </a>
        <div class="ui popup header">反對率高者優先</div><a ng-click="p=2" ng-class="{active:p==2}" class="ctrl"><i class="protect icon"></i>爭議          </a>
        <div class="ui popup header">贊成與反對接近者優先</div><a ng-click="p=3" ng-class="{active:p==3}" class="ctrl"><i class="users icon"></i>參與          </a>
        <div class="ui popup header">投票人數多者優先</div><a ng-href="https://github.com/3dw/automap/tree/gh-pages/polis/{{dataURL}}" target="_blank" class="ctrl"><i class="browser icon"></i>原始資料</a>
        <div class="ui popup header">可下載</div></span>
    </nav>
    <h1>統計結果：2016年5月~7月1日
      <div style="font-size:16px;" class="sub header">意見來自各方網友。出處：<a href="https://pol.is/89bzf78kbn/" target="_blank">polis</a></div>
    </h1>
    <table id="polis-view" cellspacing="0" cellpadding="0">
      <tr>
        <th ng-repeat="t in titlesP" ng-class="{red : t=='反對人數', orange : t=='統計'}" ng-hide="t=='反對人數' || t=='贊成人數'" class="polis-th"><i ng-show="t=='意見'" class="comments outline icon"></i><i ng-show="t=='統計'" class="trophy icon"></i><span ng-bind="t"></span></th>
      </tr>
      <tr ng-repeat="d in data | orderBy : ord" class="polis-row">
        <td ng-repeat="t in titles" ng-class="{green: t=='agrees', red : t=='disagrees', orange : t=='agree-ratio'}" ng-hide="t =='agrees' || t=='disagrees'" class="polis-col"><span ng-hide="t=='comment-body' || t=='agree-ratio' " ng-style="{height: d[t]+'px'}" class="vertial-bar"></span>
          <div ng-show="t=='agree-ratio'">
            <div class="thin-only">
              <ul id="small" class="ui list">
                <li>贊成<br/>{{d.agrees}}人</li>
                <li>反對<br/>{{d.disagrees}}人<hr/></li>
                <li>比率<br/>{{d['agree-ratio']}}</li>
              </ul>
            </div>
            <div ng-bind-html="countSVG(d)" class="fat-only"></div>
          </div><span ng-hide="t=='agree-ratio'" ng-class="{bar:t =='agrees' || t=='disagrees'}" ng-bind="t=='comment-body' ? '「'+d[t]+'」' : d[t]"></span>
        </td>
      </tr>
    </table>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/semantic/dist/semantic.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="./polis-parser.js"></script>
  </body>
</html>