.ui.container
  h1.ui.center.aligned.header 樂捐 × 支持
      .sub.header 即刻伸援手
    .ui.segment
      p 
        | 請利用ＡＴＭ、網路ATM等匯款方式，將捐助的款項匯到本會的郵政存戶。
      .ui.divider
      p
        | 戶名：社團法人中華民國自主學習促進會
        br
        | 帳號：０００２７０３－０９９３３４８
      .ui.divider
      p
        | 接著請您通知我們
        | ，讓我們知道您的樂捐項目與金額。
        a(href="#notify")
          | 通知我們
