.ui.divided.items
  .item
    .ui.image
      i.circular.huge.alarm.outline.icon
    .middle.aligned.content
      h4.ui.header
        | 通知我們
      .description
        p
          | 請填寫下列表單，讓我們知道您捐助的指定項目以及金額，
          br
          | 以便專款專用、對帳以及寄捐款收據給您。
          br
          | （若表單無法正常顯示，請按此
          a(href= "https://docs.google.com/forms/d/e/1FAIpQLSfJ2qMK4_S-3vj5b6U4qQOH101XAbNVNx2mbSaWn8eIozEm1g/viewform" target="_blank") 表單連結
          | 並允許https加密通訊）
        .ui.divider
        a(href="#thanks")
          | 感謝您
          i.chevron.right.icon
.ui.divider
iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSfJ2qMK4_S-3vj5b6U4qQOH101XAbNVNx2mbSaWn8eIozEm1g/viewform?embedded=true" width="100%"  frameborder="0" marginheight="0" marginwidth="0" height="3500" onload="resizeIframe(this)" )
  | Loading...