.ui.divided.items
  .item
    .ui.image
      i.huge.circular.smile.icon
    .middle.aligned.content
      h1.ui.header
        | 感謝您
      .description
        p
          | 本會行政志工與您核對之後，將製發正式收據，可供抵稅。
        p 
          | 並公告於捐款芳名錄，以表謝意。
        .ui.divider
        a(href="https://sites.google.com/site/alearn13994229/gong-yi-shi-xiang/juan-kuan-fang-ming-lu" target="_blank")
          | 捐款芳名錄
          i.chevron.right.icon
        br
        | （若連結無法正常顯示，請設定允許https加密通訊）