.ui.tall.stacked.segment(ng-cloak='')
  h1.ui.header 學習診斷
  .ui.divider
  p
    | 如果在特定的學科上遇到瓶頸，
    br
    | 我們可引介相關領域專長的老師，做進一步協談：
    
  .ui.divider
  .ui.link.cards
    include ./contact-email.jade