.content
  .header 共同筆記
  .description
    | 您可看到其他人的問題和答覆
.image
  img(src = "./images/overflow.jpg")
.content
  .extra.content
    | Hackpad平台:
    .ui.list
      .item
        a(href="https://autolearn.hackpad.com/FAQ-U5CsVU4DleL" target="_blank") 
          img.ui.small.image.avatar(src = "./images/hackpad.png")
          | 自學FAQ
        br
        span (領域: 自學申請、常見問答)
      .item
        a(href="https://freemath.hackpad.com/FAQ-VMHKCmL6DDp" target="_blank")
          img.ui.small.image.avatar(src = "./images/hackpad.png")
          img.ui.small.image.avatar(src = "./images/bestian.jpg") 
          | 自由數學FAQ
        br
        span (領域: 數學、自主能力)