.content
  .header 公開問答
  .description
    | 您可看到其他人提的問題和答覆
.image
  img(src = "./images/overflow.jpg")
.content
  .extra.content
    img.ui.small.image.avatar(src = "./images/wiselike.gif")
    | wiselike平台
    br
    a(href="https://wiselike.com/bestian-tang" target="_blank") 唐宗浩老師