.content
  .header 公開問答
  .description
    | 您可看到其他人提的問題和答覆
.image
  img(src = "./images/overflow.jpg")
.content
  .extra.content
    | Wiselike平台:
    .ui.list
      .item
        img.ui.small.image.avatar(src = "./images/wiselike.gif")
        img.ui.small.image.avatar(src = "./images/bestian.jpg")
        a(href="https://wiselike.com/bestian-tang" target="_blank") 唐宗浩老師
        br
        span ( 主要領域: 數學、資訊、自主能力 )