.card
  .image
    img(src = "./images/auto-learn.jpg")
  .content
    .header 自主學習促進會
    .meta
      span.date 諮詢經驗：1991~至今
    .description
      | 有經驗的志工老師會Email回覆您的問題
    .ui.divider
    .extra.content
      a(href="mailto:alearn13994229@gmail.com")
        i.mail.outline.icon
        | E-mail信箱：
        br
        | alearn13994229@gmail.com
      .ui.divider
      a(href="https://www.messenger.com/t/208398025852902/")
        i.facebook.icon
        | 臉書專頁私訊