.content
  .header 共同筆記
  .description
    | 您可看到其他人的問題和答覆
.image
  img(src = "./images/overflow.jpg")
.content
  .extra.content
    | Dropbox Paper平台:
    .ui.list
      .item
        a(href="https://paper.dropbox.com/doc/FAQ-uRxprtmzs7BCoYifBF7hO") 
          img.ui.small.image.avatar(src = "./images/dropbox.png")
          | 自學FAQ
        br
        span (領域: 自學申請、常見問答)
      .item
        a(href="https://paper.dropbox.com/doc/FAQ-irXzLX9hfJWPEMP9xkSye" target="_blank")
          img.ui.small.image.avatar(src = "./images/dropbox.png")
          img.ui.small.image.avatar(src = "./images/bestian.jpg") 
          | 自由數學FAQ
        br
        span (領域: 數學、自主能力)