.content
  .header 電子郵件
  .description
    | 志工老師以Email回覆您
.image
  img(src = "./images/email.png")
.content
  .extra.content
    a(href="mailto:alearn13994229@gmail.com")
      i.mail.outline.icon
      | E-mail信箱：
      br
      | alearn13994229@gmail.com