.card
  .image
    img(src = "./images/auto-learn.jpg")
  .content
    .header 社群媒體解惑
    .meta
      span.date 諮詢經驗：???~至今
    .description
      | 志工夥伴會回覆您的問題
    .ui.divider
    .description
      | 臉書私訊解惑:
      .ui.list
       .ui.item
          a(href="https://www.facebook.com/%E8%87%AA%E4%B8%BB%E5%AD%B8%E7%BF%92%E4%BF%83%E9%80%B2%E6%9C%83-208398025852902/")
            i.facebook.icon
            | 自主學習促進會
       .ui.item
          a(href="https://www.facebook.com/homeschooltw/")
            i.facebook.icon
            | 台灣在家自學聯盟

    .ui.divider
    .description
      | Liner群組解惑:


    .ui.divider
    .description
      | Liner私訊解惑: