.card
  .image
    img(src = "./images/email.png")
  .content
    .header 電子郵件
    //.meta
      span.date 諮詢經驗：???~至今
    .description
      | 志工老師以Email回覆您
    .ui.divider
    .extra.content
      a(href="mailto:alearn13994229@gmail.com")
        i.mail.outline.icon
        | E-mail信箱：
        br
        | alearn13994229@gmail.com