.ui.tall.stacked.segment
  h1.ui.center.aligned.header 選擇一項
  h2.ui.center.aligned.icon.header
    a(href="#start")
      i.circular.users.icon
      | 自學申請
  .ui.grid
    .eight.wide.column
      h2.ui.center.aligned.icon.header
        a(href="#plan")
          i.circular.calendar.icon
          | 自學計畫
    .eight.wide.column            
      h2.ui.center.aligned.icon.header
        a(href="#consult")
          i.circular.law.icon
          | 學習診斷