.ui.tall.stacked.segment(ng-cloak='')
  h1.ui.header {{intro[$route.current.params.step].title}}
  .ui.divider
  p {{intro[$route.current.params.step].subTitle}}
    a(ng-show="intro[$route.current.params.step].url" ng-href="{{intro[$route.current.params.step].url}}" target="_blank") {{intro[$route.current.params.step].url}}
    br
    | 閱讀後，如果需要問人，歡迎與我們聯絡：
  .ui.divider
  .ui.four.doubling.stackable.cards    
    .card
      include ./contact-wiselike.jade  
    .card
      include ./contact-social-media.jade
    .card
      include ./contact-email.jade
    .card
      include ./contact-phone.jade

    .ui.card.print-only
      .image.qr
          img(src = "http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Fmap.alearn.org.tw%2F")
        .content
          .center.aligned.header 自學地圖

