.ui.tall.stacked.segment(ng-cloak='')
  h1.ui.header {{intro[$route.current.params.step].title}}
  .ui.divider
  p {{intro[$route.current.params.step].subTitle}}
    .ui.ordered.list
      .item(ng-repeat="x in intro[$route.current.params.step].urls")
        a(ng-href="{{x.h}}" target="_blank")
          img.favicon(ng-src='http://www.google.com/s2/favicons?domain={{x.h}}', alt = "{{x.t}}")
          | {{x.t}}
    br
    | 閱讀後，如果需要問人，歡迎與我們聯絡：
  .ui.divider
  .ui.three.stackable.cards    
    .card(ng-hide = "$route.current.params.step !== 'consult'")
      include ./contact-wiselike.jade  
    .card(ng-show = "$route.current.params.step == 'start'")
      include ./contact-social-media.jade
    .card
      include ./contact-email.jade
    .card(ng-show = "$route.current.params.step == 'start'")
      include ./contact-phone.jade

    .ui.card.print-only
      .image.qr
          img(src = "http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Fmap.alearn.org.tw%2F")
        .content
          .center.aligned.header 自學地圖

