.ui.tall.stacked.segment(ng-cloak='')
  h1.ui.header 自學申請
  .ui.divider
  p
    | 如果您或您的孩子聽過「自學」但不知如何申請，
    br
    | 請先參考
    a(href="http://map.alearn.org.tw" target="_blank") &lt;自學地圖&gt;
    br
    | 如果需要問人，可與我們聯絡：
  .ui.divider
  .ui.four.doubling.stackable.cards
    include ./contact-email.jade
    include ./contact-social-media.jade

    .card(ng-repeat="p in phones")
      .image.no-print
        img(ng-src = "../images/{{p.img}}" alt = "{{p.name}}")
      .content
        .header(ng-bind-template="{{p.name}}老師") 
        .meta
          span.date(ng-bind-template="諮詢經驗：{{p.xp}}")
        .description
          | {{p.fname || p.name.substr(0,1)}}老師接電話的時間是：
          br 
          .ui.large.blue.left.ribbon.label(ng-repeat="tm in p.times")
            |  {{tm}}
          .ui.divider
          | 請只在{{p.times[0]}}
          span(ng-show="t.times && t.times.length > 1") 等
          | 時段聯絡
          br
          .no-print
            a.ui.green.basic.button(ng-click="ok = 1")
              | 好，我知道了
        .extra.content(ng-hide="ok")
          | 確認後即可看到電話號碼
        .extra.content(ng-show="ok")
          a
            i.call.icon
            | 電話：
            a(ng-href = "tel:{{p.phone}}") {{p.phone}}
        .extra.content.print-only
          a
            i.call.icon
            | 電話：
            a(ng-href = "tel:{{p.phone}}") {{p.phone}}


    .ui.card.print-only
      .image.qr
          img(src = "http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Fmap.alearn.org.tw%2F")
        .content
                .center.aligned.header 自學地圖

