/* line 4, ../sass/contact.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 8, ../sass/contact.scss */
.hidden {
  display: none !important;
}

/* line 12, ../sass/contact.scss */
a, .step:hover {
  cursor: pointer !important;
}

/* line 16, ../sass/contact.scss */
p {
  white-space: pre;
}

/* line 20, ../sass/contact.scss */
.main {
  padding: 25px;
}

/* line 24, ../sass/contact.scss */
i.circular.icon {
  box-shadow: 0 0 0 0.1em rgba(0, 0, 120, 0.8) inset;
}

/* line 28, ../sass/contact.scss */
.circular.law.icon::before {
  position: relative;
  left: -3px;
}

/* line 34, ../sass/contact.scss */
.ui.large.breadcrumb a.active {
  color: black !important;
}

/* line 38, ../sass/contact.scss */
footer {
  position: relative;
  left: 25px;
  top: -5px;
}

/* line 45, ../sass/contact.scss */
.ui.card .image.qr {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

@media screen and (max-width: 850px) {
  /* line 55, ../sass/contact.scss */
  .thin-only {
    display: inline-block;
  }

  /* line 58, ../sass/contact.scss */
  .fat-only {
    display: none !important;
  }
}
/* line 63, ../sass/contact.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 68, ../sass/contact.scss */
  .no-print {
    display: none !important;
  }

  /* line 72, ../sass/contact.scss */
  .print-only {
    display: block !important;
  }
}
