/* line 4, ../sass/handbook.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 14, ../sass/handbook.scss */
html {
  font-size: 18px;
  font-size: 2vm;
  font-size: 2vmin;
}

/* line 20, ../sass/handbook.scss */
body, #outer {
  background-color: #8f8f3d !important;
}

/* line 23, ../sass/handbook.scss */
nav {
  background-color: #f4f4b3 !important;
}

/* line 27, ../sass/handbook.scss */
section {
  border-radius: 5px;
  padding: 3vm;
  padding: 3vmin;
  background-color: #f4f4b3 !important;
}
/* line 33, ../sass/handbook.scss */
section h1.header {
  text-shadow: 2px 2px #fcc;
}
/* line 36, ../sass/handbook.scss */
section p {
  font-size: 1.2rem;
  font-weight: 900;
}

/* line 43, ../sass/handbook.scss */
.description {
  color: #204162;
}

/* line 47, ../sass/handbook.scss */
.orange {
  color: #f70;
}
/* line 49, ../sass/handbook.scss */
.orange.description {
  color: #7f3b00 !important;
}

/* line 58, ../sass/handbook.scss */
#main .column .inner {
  position: relative;
  padding: 5px;
}
/* line 62, ../sass/handbook.scss */
#main .column .inner .icon.header i {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 66, ../sass/handbook.scss */
#main .column .inner:hover .icon.header i {
  -moz-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  -webkit-transform: rotateY(60deg);
  transform: rotateY(60deg);
}
/* line 70, ../sass/handbook.scss */
#main .column .inner .description {
  min-height: 3em;
}

/* line 77, ../sass/handbook.scss */
.ui.segment {
  line-height: 1.5;
}

/* line 81, ../sass/handbook.scss */
.bordered {
  border-radius: 0 0 15px 15px;
}
/* line 83, ../sass/handbook.scss */
.bordered.right {
  border-right: 2px solid #aaa;
}
/* line 86, ../sass/handbook.scss */
.bordered.left {
  border-left: 2px solid #aaa;
}
/* line 89, ../sass/handbook.scss */
.bordered.bottom {
  border-bottom: 2px solid #aaa;
}

/* line 94, ../sass/handbook.scss */
.ui.attached.label {
  top: 4px;
}

/* line 99, ../sass/handbook.scss */
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

/* line 108, ../sass/handbook.scss */
.fade.ng-leave {
  opacity: 1;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 112, ../sass/handbook.scss */
.fade.ng-leave-active {
  opacity: 0;
}

/* line 115, ../sass/handbook.scss */
.fade.ng-enter {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -moz-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  -webkit-transform: rotateY(60deg);
  transform: rotateY(60deg);
}

/* line 120, ../sass/handbook.scss */
.fade.ng-enter-active {
  opacity: 1;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
