/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 14, ../sass/screen.scss */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 19, ../sass/screen.scss */
.print-only {
  display: none !important;
}

/* line 23, ../sass/screen.scss */
.highlightedText {
  background: yellow !important;
}

/* line 27, ../sass/screen.scss */
a, .pointer {
  cursor: pointer !important;
}
