doctype html
html(ng-app="donater")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property='og:title', content='捐款芳名錄')
    meta(property='og:site_name', content='自主學習促進會')
    meta(property='og:image', content='http://map.alearn.org.tw/images/automap.jpg')


    title 捐款芳名錄

    link(rel='shortcut icon', href='/favicon.png')

    link(rel="stylesheet", href="./bower_components/semantic/dist/semantic.min.css")

    link(href='stylesheets/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
    link(href='stylesheets/print.css', media='print', rel='stylesheet', type='text/css')
    //if IE
      link(href='/stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
  body(ng-controller="myDonaterCtrl")
    ui.header
      | 感謝
     

    .ui.tall.stacked.segment.container
      | {{objs}}



    // Components    
    script(src = "./bower_components/jquery/dist/jquery.min.js")
    script(src = "./bower_components/semantic/dist/semantic.min.js")
    script(src = "./bower_components/angular/angular.min.js")

    script(src = "./donaters.js")