<!DOCTYPE html>
<html ng-app="styleApp">
  <head>
    <meta charset="utf-8">
    <title>學習風格自我測試</title>
    <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../stylesheets/styletest.css">
    <style>
      body {
          background-color: #D0BAA2;
      }
      .ui.segment {
          background-color: #D0BAA2;
          border: 3px ridge #D0BAA2;
          font-size: 16px;
      }
      .list .item {
          margin-top: 16px;
      }
      [ng\:cloak], [ng-cloak], .ng-cloak {
          display: none !important;
      }
      
      
    </style>
    <!-- Components    -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/semantic/dist/semantic.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <!--script(src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-animate.js")-->
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/fastclick.js"></script>
    <script src="../global.js"></script>
  </head>
  <body ng-controller="myCtrl" class="milky">
    <div class="ui container">
      <div ng-hide="step" class="slide">
        <div class="ui attached segment">
          <h1 class="ui heaer"> <i class="purple puzzle icon"></i>何謂學習風格？</h1>
          <p>現代的教育研究者發現，每個人擅長的學習方式都有不同。即使在同一個課室中，每個人去掌握和理解的方法也不一樣。這就是每個人的學習風格。<i class="purple fire icon"></i></p>
          <p>學習風格有千百種以上，要細分有很多角度。本測試採取的是「<i class="purple unhide icon"></i>視<i class="purple assistive listening systems icon"></i>聽<i class="purple book icon"></i>讀<i class="purple sign language icon"></i>作」(VARK)架構，特色是只要回答16個問題，就能讓您很快找出適合自己的有效學習方式。</p>
          <p>原文的問題出處與更多資訊，請至<a href="http://www.vark-learn.com/english/index.asp" target="_blank">VARK介紹網站</a></p>
        </div><a tabindex="0" ng-click="step = 1" class="ui large green bottom attached button">開始測驗!</a>
      </div>
      <div ng-cloak="" ng-show="step == 1" class="ui form slide">
        <div ng-repeat="q in qs" class="ui segment repeated-item">
          <h2 class="ui dividing header">{{q.t}}</h2><br>
          <div class="field">
            <div ng-repeat="c in q.cs" class="list">
              <div class="item">
                <div class="ui checkbox">
                  <input type="checkbox" ng-model="q.checked[$index]">
                  <label>{{c}}</label>
                </div>
              </div>
            </div>
          </div>
        </div><a ng-cloak="" tabindex="0" ng-click="step = 2" class="ui large green top attached button">看結果!</a>
        <div class="ui attached segment"></div>
      </div>
      <div id="resault" ng-cloak="" ng-show="step == 2" class="ui segment slide2">
        <h1 class="ui header"> <i class="purple puzzle icon"></i>測驗結果：你是一名「{{getFinal()}}」優勢的學習者!!
          <div class="sub header">{{getNum()}}</div>
        </h1>
        <p ng-bind-html="getAdvice()"></p>
      </div>
    </div>
    <script src="./styletest.js" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-26178243-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>