doctype html

html(ng-app="styleApp")
  head
    meta(charset='utf-8')
    title 學習風格自我測試
    link(rel="stylesheet", href="../bower_components/semantic/dist/semantic.min.css")
    link(rel="stylesheet", href="../stylesheets/styletest.css")
  
    style.
        body {
            background-color: #D0BAA2;
        }
        .ui.segment {
            background-color: #D0BAA2;
            border: 3px ridge #D0BAA2;
            font-size: 16px;
        }
        .list .item {
            margin-top: 16px;
        }
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }


    include ./_components.jade

  body.milky(ng-controller="myCtrl")


    .ui.container
        .slide(ng-hide = "step")
            .ui.attached.segment
                h1.ui.heaer 
                    i.purple.puzzle.icon
                    | 何謂學習風格？

                p 現代的教育研究者發現，每個人擅長的學習方式都有不同。即使在同一個課室中，每個人去掌握和理解的方法也不一樣。這就是每個人的學習風格。
                    i.purple.fire.icon

                p 學習風格有千百種以上，要細分有很多角度。本測試採取的是「
                    i.purple.unhide.icon
                    | 視
                    i.purple.assistive.listening.systems.icon
                    |聽
                    i.purple.book.icon
                    |讀
                    i.purple.sign.language.icon
                    |作」(VARK)架構，特色是只要回答16個問題，就能讓您很快找出適合自己的有效學習方式。

                p 原文的問題出處與更多資訊，請至
                    a(href="http://vark-learn.com" target="_blank") VARK介紹網站

            a.ui.large.green.bottom.attached.button(tabindex="0" ng-click ="step = 1") 開始測驗!

        .ui.form.slide(ng-cloak='' ng-show="step == 1")
            .ui.segment.repeated-item(ng-repeat="q in qs")
                h2.ui.dividing.header {{q.t}}
                br
                .field
                    .list(ng-repeat="c in q.cs")
                        .item
                            .ui.checkbox
                                input(type="checkbox" ng-model = "q.checked[$index]")
                                label {{c}}

            a.ui.large.green.top.attached.button(ng-cloak='' tabindex="0" ng-click="step = 2") 看結果!
            .ui.attached.segment

        #resault.ui.segment.slide2(ng-cloak='' ng-show="step == 2")
            h1.ui.header 
                i.purple.puzzle.icon
                | 測驗結果：你是一名「{{getFinal()}}」優勢的學習者!!
                .sub.header {{getNum()}}
            p(ng-bind-html = "getAdvice()")

        

    script(src="./styletest.js" type='text/javascript')


    include ../_ga.jade